@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 80 189 73;
        --secondary: 231 86 30;
        --accent: 215 185 91;
        --content: 0 0 0;
        --background: 255 255 255;
        --edge: 238 238 238;
    }
}

[data-theme="dark"] {
    --primary: 80 189 73;
    --secondary: 231 86 30;
    --accent: 215 185 91;
    --content: 255 255 255;
    --background: 24 24 27;
    --edge: 60 60 67;
}

@layer components {
    .container {
        @apply mx-auto px-6;
    }
    .border,
    .border-4,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-edge;
    }
}
